BasedOnStyle: LLVM
BreakBeforeBraces: Allman
IndentWidth: 4
TabWidth: 4
UseTab: Always
ColumnLimit: 130
PointerAlignment: Right
SpacesInParentheses: true
BinPackArguments: false
BinPackParameters: false
AllowShortIfStatementsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortLoopsOnASingleLine: false
IndentCaseLabels: true
NamespaceIndentation: None
SortIncludes: false
